* { 
    --face-size: 13;
    --skin-color: #ffbf97;
    --eye-rotation: 0deg;
    --eye-gap: 30px;
    --eye-height: -40px;
    --eye-size: 17;
    --iris-height: -9px;
    --iris-size: 22px;
    --pupil-size: 10px;
    --shade-opacity: 1;
    --shade-brightness: 0;
    --iris-hue:
}

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

.face-wrapper {
    position: absolute;
    z-index: 100000;
}

.face-frame {
    height: calc((var(--face-size) / 100) * 1825px);
    width: calc((var(--face-size) / 100) * 1355px);
    background-color: var(--skin-color);
    mask-image: url('items/face-shape.png');
    mask-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('items/face-shade.png');
    background-size: 155%;
    background-position: 50% 80%;
    filter: brightness(var(--shade-brightness));
    opacity: var(--shade-opacity);
}

.eyes-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    max-height: 100%;
    height: 50px;
    width: 100%;
}

.eyes {
    position: absolute;
    align-items: center;
    display: flex;
    height: 50px;
}

.eye-gap {
    height: 30%;
}

.eye-gap:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,0,142,0.1) 20%, rgba(255, 0, 140, 0.1) 80%, rgba(0,0,0,0) 100%);
    cursor: col-resize;
}

.eye {
    //user-select: none;
    height: calc((var(--eye-size) / 100) * 79px);
    width: calc((var(--eye-size) / 100) * 279px);
    transform: rotate(var(--eye-rotation));
}

.mirrored {
    transform: scaleX(-1) rotate(var(--eye-rotation));
}


.eyeball {
    @extend .eye;
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: white;
    mask-image: url('items/eye-shape.png');
    mask-size: cover;
}

.iris-base {
    background-color: none;
    //user-select: none;
}

.iris {
    //user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--iris-height);
    width: var(--iris-size);
    height: var(--iris-size);
}

.pupil {
    //user-select: none;
    position: absolute;
    width: var(--pupil-size);
    height: var(--pupil-size);
}

.iris-color {
    //user-select: none;
    position: absolute;
    filter: brightness(5);
}