.menu-tag {
    display: none;
}

.menu-btn {
    overflow: clip;
}

.sidebar-wrapper {
    display: flex;
    overflow: clip; 
    @media screen and (orientation: portrait) {
        display: none !important;
    }

}

.sidebar-menu {
    display: flex;
    width: calc(2.25rem + var(--px-page));
    top: var(--py-page);
}

.menu-btn-wrapper {
    height: fit-content;
    width: 2.25rem;
    overflow: clip;
}

.sidebar-tag {
    width: calc(1rem + (var(--px-page) * 2));
}

.menu-tag {
    color: var(--color-text-main) !important;
    z-index: 1;
    display: absolute;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
    white-space: nowrap;
    transform: rotate(90deg);
}

.barcode {
    height: 3rem;
    width: 2.1rem;
    background-color: var(--color-text-main);
    mask-image: url('assets/barcode.svg');
    mask-position: center;
}

.blur-overlay {
    z-index: 999;
    position: fixed;
    overflow: visible;
    height: 500%;
    width: 500%;
    background: radial-gradient(circle, var(--color-terciary) -20%, rgba(0,0,0,0) 70%);
    mix-blend-mode: hard-light;
}


.light-theme {
    .blur-overlay {
        mix-blend-mode: color-burn;
        background: radial-gradient(circle, var(--color-terciary) 0%, rgba(0,0,0,0) 100%);
    }
}