.logo-box {
    height: fit-content;
    width: fit-content;
    padding-bottom: 45px;
    padding-right: 49.73px;
    padding-left: 3.6px;
    margin-bottom: 30px
}


.logo-stars {
    position: absolute;
    width: 480px;
    margin-top: -55px;
    margin-left: -80px
}

.cyber {
    font-family: logo;
    font-size: 72px;
    color: #000;
    margin-left: -10px
}

.muse {
    position: absolute;
    margin-top: -36px;
    padding-left: 90px;
    font-family: logo;
    font-size: 72px;
    color: #000
}

.input-box {
    display: flex;
    width: 70%;
    gap: 5px
}

.introduction {
    text-align: justify
}

.hyperlink {
    text-decoration: underline;
    color: var(--color-main);
}

.home-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    gap: 30px;
}