@use 'variables.scss';
@use 'foundation/spacing.scss';
@use 'foundation/containers.scss';
@use 'foundation/interaction.scss';
@use 'foundation/typography.scss';
@use 'foundation/effects.scss';
@use 'components/Glare.scss';

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    position: static;
    max-width: 100%;
    font-size: 24px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100% !important;
}

#root {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--color-background);
}

input {
    display: flex;
    width: 100%;
    min-width: 0;
    border: none;
    border-radius: 20px;
    border: 3px solid var(--color-lightest);
    background-color: rgb(255, 255, 255);
    padding: 0 var(--padding-s) !important;
    color: var(--color-main-contrast) !important;
    height: 1.5rem;
    @media only screen and (max-width: 430px){
        width: 100%;
    }
    @media only screen and (max-width: 365px){
        border: 2px solid var(--color-lightest);
        padding: 0 var(--padding-xs) !important;
        height: 1.2rem;
    }
}

input:focus {
    border: none !important;
    outline: none !important;
}

button {
    min-width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 1.5rem;
    background: none;
    border: none;
    white-space: nowrap;
    border-radius: 20px;
    background-color: var(--color-secondary);
    padding: 0 var(--padding-s) !important;
    color: var(--color-lightest) !important;
    border: 3px solid var(--color-lightest);
    @media only screen and (max-width: 365px){
        border: 2px solid var(--color-lightest);
        padding: 0 var(--padding-xs) !important;
        height: 1.2rem;
    }
}

button:hover {
    cursor: pointer;
}

button:active {
    cursor: pointer;
}

.none {
    display: none;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: clip;
}

.page {
    display: flex;
    width: var(--page-width);
    max-width: 100%;
    height: 100%;
    gap: 0.5rem;
    background-color: var(--color-background);
    padding-top: var(--py-page);
    padding-bottom: var(--py-page);
    padding-left: var(--px-page);
    padding-right: var(--px-page);  
}


.page-content {
    padding-top: 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-dummy {
    width: 2.5rem;
    min-width: 2.5rem;    
    @media screen and (orientation: portrait) {
        display: none;
    }
}

.gap {
    width: 1px;
    height: 0.5rem;
}

.center-mobile {
    @media screen and (orientation: portrait) {
        align-items: start;
        gap: 3rem
    }
    
}
