@use 'foundation/variables.scss';
@use 'foundation/spacing.scss';
@use 'foundation/containers.scss';
@use 'foundation/interaction.scss';
@use 'foundation/typography.scss';
@use 'foundation/effects.scss';

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    position: static;
    max-width: 100%;
    font-size: 24px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--color-background);
}

input {
    min-width: fit-content;
    width: 13rem;
    border: none;
    border-radius: 20px;
    border: 3px solid var(--color-lightest);
    background-color: rgb(255, 255, 255);
    padding: 0 var(--padding-s) !important;
    color: var(--color-main-contrast) !important;
    height: 1.5rem;
    @media only screen and (max-width: 365px){
        border: 2px solid var(--color-lightest);
        padding: 0 var(--padding-xs) !important;
        height: 1.2rem;
    }
}

input:focus {
    border: none !important;
    outline: none !important;
}

button {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 1.5rem;
    background: none;
    border: none;
    white-space: nowrap;
    border-radius: 20px;
    background-color: var(--color-secondary);
    padding: 0 var(--padding-s) !important;
    color: var(--color-lightest) !important;
    border: 3px solid var(--color-lightest);
    @media only screen and (max-width: 365px){
        border: 2px solid var(--color-lightest);
        padding: 0 var(--padding-xs) !important;
        height: 1.2rem;
    }
}

button:hover {
    cursor: pointer;
}

button:active {
    cursor: pointer;
}

.none {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    @media only screen and (max-width: 800px){
        padding: 0 var(--page-padding-m); 
    }
    @media only screen and (max-width: 655px){
        padding: 0 var(--page-padding-s); 
    }
}

.page-content {
    position: relative;
    width: 500px;
    max-width: 100%;
}

