.logo-text {
    width: 100%;
    background: var(--color-primary);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

}

.cyber {
    -webkit-mask-box-image: url('./assets/cyber3.svg');
    mask-image: url('./assets/cyber.svg');
}

.muse {
    -webkit-mask-box-image: url('./assets/muse3.svg');
    mask-image: url('./assets/muse.svg');
}