.section-width {
    --size: 10rem;
    width: 100%;
    max-width: calc(var(--size) + ((var(--size) * 81.3) / 100));
    @media only screen and (max-width: 310px){
        transform: scale(0.6,1);
    }
}

.logo-box {    
    width: calc(var(--size) + ((var(--size) * 81.3) / 100)) !important;
    height: calc(var(--size) - ((var(--size) * 11) / 100)) !important;
}

.break {
    max-width: calc(var(--size) + ((var(--size) * 81.3) / 100));
    height: 1.9rem;

}

.homepage {
    justify-content: space-between !important;
    @media screen and (orientation:landscape) {
        width: calc(100vw - 110px) !important;
    }
}
