.home-section {
    --size: 10rem;
    width: 100%;
    max-width: calc(var(--size) + ((var(--size) * 81.3) / 100));
    @media only screen and (max-width: 310px){
        --size: 5rem;
    }
}

.homepage {
    justify-content: space-between !important;
    @media screen and (orientation:landscape) {
        display: flex;
    }
}

.slogan-wrapper {
    display: flex;
    align-items: center;
    position: relative; 
    justify-content: center;
    width: 100%;
}

.slogan {
    position: absolute;
    margin-top: 5%;
}

.slogan-dummy {
   width: 30%;
   opacity: 0;
}

.filler {
    height: 100%;
}